{% extends "base.html" %}

<div class="container-fluid">
	{% block content %}
	<div class="row">
		<div class="col-sm-3">
			<div class="table table-dark table-striped table-responsive">
				<table>
					<th>Members</th>
					{% for member in members %}
					<tr>
						<td>{{ member.first_name }} {{ member.last_name }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<div class="col-sm-3">
			<table>
				<th>Sessions</th>
				{% for session in sessions %}
				<tr>
					<td>{{ session.title }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>

		<div class="col-sm-3">
			<table>
				<th>Instructors</th>
				{% for instructor in instructors %}
				<tr>
					<td>{{ instructor.first_name}} {{ instructor.last_name }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% endblock %}
	<div class="row">
		<div class="col-sm-3">
			<img src="/static/images/weightlifting.jpg" alt="weightlifter">
		</div>
		<div class="col-sm-3">
				<img src="/static/images/yoga.jpg" alt="yoga">
			</div>
	</div>
</div>